<p>{% if page.body_class == 'home' %}<span class="caret"></span>{% endif %}
    <a href="{{ site.url }}/">Home</a>
</p>
<p>{% if page.body_class == 'manifesto' %}<span class="caret"></span>{% endif %}
    <a href="{{ site.url }}/manifesto.html">Our manifeso</a>
</p>
<p>{% if page.body_class == 'source-control' %}<span class="caret"></span>{% endif %}
    <a href="{{ site.url }}/source-control.html">Source Control</a>
</p>
<p>{% if page.body_class == 'ci' %}<span class="caret"></span>{% endif %}
    <a href="{{ site.url }}/ci.html">Continuous integration</a>
</p>
<p>{% if page.body_class == 'code-reviews' %}<span class="caret"></span>{% endif %}
    <a href="{{ site.url }}/code-reviews.html">Code Reviews</a>
</p>
<p>{% if page.body_class == 'names' %}<span class="caret"></span>{% endif %}
    <a href="{{ site.url }}/names.html">Naming conventions</a>
</p>
